---
import BaseLayout from './BaseLayout.astro';
import Jumbotron from '../components/Jumbotron';
import GridProjets from '../components/GridProjets.astro';

interface Props {
  title: string;
  description?: string;
  sectionType: string;
  projectsData: any[]; // Rendu obligatoire
}

const { title, description, sectionType, projectsData } = Astro.props;

// Utilise directement les données fournies par la page
const projects = projectsData;
---

<BaseLayout title={title} description={description}>
  <div class="max-w-6xl mx-auto px-4">
    <Jumbotron title={title} description={description} />
    
    {projects.length > 0 && <GridProjets projects={projects} />}
    
    <slot />
  </div>
</BaseLayout>
